[include]
	path = ~/.gitconfig-core
	path = ~/.gitconfig-diff
	path = ~/.gitconfig-aliases

[user]
	name = Jace Browning
	email = jacebrowning@gmail.com

[hub]
protocol = https

[credential]
helper = /opt/boxen/bin/boxen-git-credential

[core]
excludesfile = /opt/boxen/config/git/gitignore
